.image__body{
    max-width: 30%;
    border-radius: 5px;
}

@media only screen and (max-width: 910px) {
    .image__body{
        max-width: 100%;
    }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-width: 601px) { //chrome (29 and later) and opera (16 and later)
    .image__body{
        max-width: 30%;
    }
}